@import 'variables';

.main {
  padding-top: 88px;

  @media (min-width: $desktop) {
    padding-top: 0;
    margin-left: 320px;
  }

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__btns {
    display: none;

    @media (min-width: $desktop) {
      display: flex;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-left: 32px;
  }

  &__title {
    margin: 24px 0;
    font-size: 28px;
    line-height: 40px;

		&:before {
			left: -16px;

			@media (min-width: $tablet) {
				left: -24px;
			}

			@media (min-width: $desktop) {
				left: -32px;
			}

			@media (min-width: 1440px) {
				left: -72px;
			}
		}
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 24px 0;

    @media (min-width: $tablet) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $text-color;

    @media (min-width: $tablet) {
      margin-right: 36px;
    }

    & p {
      margin: 0;
      margin-top: 16px;

      &:first-child {
        margin: 0;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;

    @media (min-width: $tablet) {
      max-width: 360px;
      align-self: center;
    }

    @media (min-width: $desktop) {
      max-width: 530px;
    }
  }
}
