@import 'variables';

.modal {
  display: none;
  width: 320px;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;

  background-color: $background-color;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);

  @media (min-width: $desktop) {
    width: 440px;
  }

	&__container {
		padding: 0 16px;

		@media (min-width: $desktop) {
			padding: 0 32px;
		}
	}

  &__title {
    margin: 24px 0;
    font-size: 24px;
    line-height: 32px;

		&:before {
			left: -16px;

			@media (min-width: $desktop) {
				left: -32px;
			}
		}
  }

  &__btn {
		margin-top: 24px;

		@media (min-width: $tablet) {
			position: absolute;
			left: -62px;
		}
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__input,
  &__textarea {
    width: 288px;
    height: 48px;
    margin-bottom: 16px;
    padding: 12px 16px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $text-color--input;

    background: $background-color;
    border: 1px solid $border-color;
    border-radius: 8px;

    transition: .4s;

    @media (min-width: $desktop) {
      width: 376px;
    }

    &:hover {
      border: 1px solid $border-color--hover;
    }

    &:focus {
      border: 1px solid $border-color--active;
      outline: 1px solid $color-main;
    }
  }

  &__textarea {
    min-height: 118px;
    resize: none;
  }

  &__info {
    margin-bottom: 20px;

    font-family: $font-family;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $text-color--muted;
  }

  &__link {
    color: $color-main;
    text-decoration: none;
  }
}


